.container
  %h1 Visitantes
  %hr
  = button_to 'Novo', new_visitor_path, method: :get

  - if @visitors.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome
      %th Cpf
      - @visitors.each do |visitor|
        %tr
          %td= link_to visitor.name, visitor
          %td= visitor.cpf

  %p
    Total:
    = @visitors.count
