.container
  %h1
    Visitantes
    = link_to ?+, new_visitor_path
    %hr

  - if @visitors.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome
      %th Cpf
      - @visitors.each do |visitor|
        %tr
          %td= link_to visitor.name, visitor
          %td= visitor.cpf

  Total:
  = @visitors.count
