.container
  %h1 Usuários
  %hr
  = button_to 'Novo', new_user_path, method: :get

  - if @users.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome de Usuário
      %th Senha
      %th Role
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td (hidden)
          %td= user.role_str

  Total:
  = @users.count
