.container
  %h1 Usuários
  %hr
  = button_to 'Novo', new_user_path, method: :get

  - if @users.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome
      %th Senha
      %th Função
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td (oculto)
          %td= user.role_str

  %p
    Total:
    = @users.count
