.container
  %h1
    Usuários
    = link_to '+', new_user_path
  %hr

  - if @users.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome de Usuário
      %th Senha
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td (hidden)

  Total:
  = @users.count
