.container
  %h1 Prédios
  %hr
  = button_to 'Novo', new_facility_path, method: :get


  - if @facilities.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome
      %th Moradores
      - @facilities.each do |facility|
        %tr
          %td= link_to facility.name, facility
          - if facility.residents.empty?
            %td (Nenhum morador)
          - else
            %td
              - facility.residents.each do |resident|
                = link_to resident.name, resident

  %p
    Total:
    = @facilities.count
