%div{class: "container"}
  %form{method: "get"}
    %div{class: "row"}
      %div{class: "col-25"}
        %label{for: "host"} Visitado:
      %div{class: "col-75"}
        %select{name: "host", required: true}
          - @facility.hosts.each do |h|
            %option{value: h.id}= h.name
    %div{class: "container"}
      %div{class: "row"}
        %div{class: "col-25"}
          %label{for: "date"} Data da Visita:
        %div{class: "col-75"}
          %input{type: "hidden", id: "my-input", name: "date", required: true}
          %div{class: "testStyle", id: "my-datepicker"}
      %div{class: "row"}
        %div{class: "col-25"}
          %label{for: "time"} Hora da visita:
        %div{class: "col-75"}
          %input{type: "text", id: "my-timepicker", name: "time", required: true}
      %div{class: "row"}
        %div{class: "col-25"}
          %label{for: "description"} Descrição:
        %div{class: "col-75"}
          %textarea{rows: "3", cols: "60", name: "description"}
    %div{class: "row"}
      %input{type: "hidden", name: "facility", value: params[:facility]}
      %input{type: "hidden", name: "purpose", value: params[:purpose]}
      %input{type: "hidden", name: "cpf", value: @visitor.cpf}
      %input{type: "hidden", name: "name", value: @visitor.name}
      %input{type: "hidden", name: "company", value: @visitor.company}
      %input{type: "submit", value: "Avançar"}
