%div{class: "container"}
  %form{method: "get"}
    %div{class: "row"}
      %div{class: "col-25"}
        %label{for: "facility"} Nova Visita para Local:
      %div{class: "col-75"}
        %select{name: "facility"}
          - @facilities.each do |f|
            %option{selected: @facility == f.name}= f.name
    %div{class: "row"}
      %input{type: "submit", value: "Avançar"}
%div{class: "container"}
  %form{method: "get"}
    %div{class: "row"}
      %div{class: "col-25"}
        %label{for: "date"} Data da Visita:
      %div{class: "col-75"}
        %input{type: "hidden", id: "my-input", name: "date"}
        %div{id: "my-datepicker"}
        %input{type: "submit", value: "test"}
- if @facility
  %div{class: "container"}
    %form{method: "get"}
      %div{class: "row"}
        %div{class: "col-25"}
          %label{for: "CPF"} CPF:
        %div{class: "col-75"}
          %input{type: "number", name: "CPF", maxlength: 11, placeholder: "12345678901", required: true, size: 11}
      %div{class: "row"}
        %input{type: "hidden", name: "facility", value: @facility}
        %input{type: "submit", value: "BUSCAR"}
%div=render 'visitor_form'
%div=render 'appointment_form'
%p
  %button{type: "submit"} Cadastrar Visita


:javascript
  $("#my-datepicker").datepicker({
    language: "pt-BR"
    });
  $("#my-datepicker").on('changeDate', function () {
    $("#my-input").val(
      $("#my-datepicker").datepicker('getFormattedDate')
      );
  });

//:javascript
//  $(document).ready(function(){
//    $('.datepicker').datepicker({
//      format: 'dd/mm/yyyy'
//    })
//    });
