.container
  %h1 Moradores
  %hr
  = button_to 'Novo', new_resident_path, method: :get

  - if @residents.empty?
    %p Nada encontrado.
  - else
    %table
      %th Nome
      %th Prédio
      - @residents.each do |resident|
        %tr
          %td= link_to resident.name, resident
          %td= link_to resident.facility.name, resident.facility

  %p
    Total:
    = @residents.count
